.parent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.flex-container {
    display: flex;
    background-color: #7c8594;
}

.flex-item {
    flex: auto;
    background-color: #dddee5;
    text-align: center;
    margin: 15px;
    padding: 15px;
}

.top {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.bottom {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.top, .middle, .bottom {
    border: 5px solid #2b3d5b;
}

.top, .bottom {
    align-items: center;
}

.top, .middle {
    flex-direction: column;
}

.projects, .skills-bio {
    align-items: stretch;
    flex-direction: row;
}

.navigation-bar, .footer-content {
    background-color: #7c8594;
}

.navigation-bar {
    margin: 0px;
}

.footer-content {
    line-height: 5px;
    text-align: left;
    padding-bottom: 20px;
    overflow: hidden;
    white-space: nowrap;
}


img {
    border: 2px solid #2b3d5b;
}

img, .flex-item {
    border-radius: 20px;
}

body {
    color: #0e1d35;
}

h1, h2, h3, a {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: small;
}

p {
    text-align: justify;
}


a {
    color: #dddee5;
}